*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 90%;
    max-width: 960px;
    margin: 0 auto;   
}

/* Start Header Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-area a {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

/* End Header Styling */

/* Start Search Area */
#searchArea{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
#searchBox{
    width: 300px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    border: none;
}
.searchButton {
    color: white;
    padding: 15px;
    background-color: orangered;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: none;
}
#searchBox:focus, .searchButton:focus {
    outline: none;
}
/* End Search Area */

/* Start Meal Area */
#mealContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.meal {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, .1);
}
.meal img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.meal h3 {
    padding: 15px 0;
}
/* End Meal Area */

/* Start Empty Input and Nothing Found  Massege Style*/
#nothingFound , #emptyInputMassege{
    top: 20%;
    left: 17%;
}

#nothingFound, #emptyInputMassege { 
    position: absolute;
    background-color: rgba(135, 206, 235, 0.1);
    padding: 50px;
    font-size: 30px;
    text-align: center;
    color: rebeccapurple;
    margin: 50px auto 0;
    margin-top: 50px;
    display: none;
    
}
/* Start Empty Input and Nothing Found  Massege Style*/

/* Start Single Meal Details Style*/
#mealItemDetails {
    position: absolute;
    background-color: rgba(135, 206, 235, 0.1);
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;   
    box-shadow: 0px 5px 27px grey;
    border-radius: 5px;
}
#mealItemDetails img {
    width: 100%;
    border-radius: 10px;
}
#mealItemDetails h1 {
    font-size: 40px;
    margin: 20px 0;
}

#mealItemDetails h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

#mealItemDetails ul {
    list-style: none;
}

#mealItemDetails ul li {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

#mealItemDetails ul li i {
    color: tomato;
    margin-right: 10px;
}
#coloseButton {
    position: absolute;
    bottom: 1%;
    right: 5%;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: skyblue;
}

#closeIcon {
    position: absolute;
    top: 4%;
    right: 6%;
    font-size: 30px;
    cursor: pointer;
    color: skyblue;
}

.mealItemDetailsInfo {
    padding: 20px;
}
/* End Single Meal Details Style*/
